# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Dependency directory

# Optional npm cache directory
.npm

#IDEs
.idea

#config files
ormconfig.json

# code testing coverage
coverage

.env

.idea
node_modules
