<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Choicery</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">

    <!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
<div id="messageSucess" class="alert alert-success alert-dismissible fade mb-0" role="alert">
    <strong>Thanks!</strong> Your request has been succesfully sent!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Header -->

<!-- Header End -->

<!-- Content -->
<div class="container list-container bg-white mt-3 mb-3">
    <div class="welcome">
        <div class="row">
            <div class="col-4 dropleft">
            </div>
            <div class="col-4 text-center mb-2 mt-1">
                <img src="assets/img/logo/pipedrive.png" class="m-auto logo" alt="Company Logo" />
            </div>
            <div class="col-4 dropright text-right">
                <a href="http://rocketcrm.xyz" class="btn btn-back a-6 dropdown-toggle mt-2" target="_blank"> Go to RocketCRM</a>
                <!--<a href="#" class="btn btn-cta a-6 dropdown-toggle mt-2" data-toggle="modal" data-target="#modal" data-customer-id="99"> Request reference</a>-->
            </div>
        </div>
        <div class="row pt-4 pb-3">
            <h1 class="col-12">This portal doesn't say how awesome we are!</h1>
            <h3 class="col-12">It's about what problems our customers had and the way we have solved them together!</h3>
        </div>
    </div>
    <div class="buddies-list">
        <div class="buddies-list-card">
            <div class="row">
                <div class="col-md-10">
                    <div class="media">
                        <img src="assets/img/customers/treegoos/person.jpeg" class="mr-3 person" alt="Person">
                        <div class="media-body">
                            <h5 class="mt-0 mb-0 primary-head">Jeremy Macoudlas</h5>
                            <h6 class="subhead text-muted"><span class="primary-color">Head of Sales</span> at <strong class="text-dark">Treegoos</strong><span class="small">, (Amsterdam, Netherlands)</span></h6>
                            <p class="pt-1 pb-2">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 about-company text-center mobile-hide">
                    <img src="assets/img/customers/treegoos/logo.png" class="company-logo" alt="logo" />
                    <p class="pb-0 mb-0 font-weight-bold">Offile Supply Services</p>
                    <p><a href="https://www.treegoos.com/">www.treegoos.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>Use the system for the distributes sales team of 5 people</p>
                </div>
                <div class="col-md-3">
                    <p>Completed full integration into our processes in 1 month</p>
                </div>
                <div class="col-md-3">
                    <p>Had problems with getting folks to really update the deals info, but were able to solve it with voice descriptions</p>
                </div>
                <div class="col-md-3">
                    <p>Moved from Google Docs and Trelo</p>
                </div>
            </div>
            <div class="row card-cta">
                <div class="col">
                    <a href="#" class="btn btn-contact a-6" data-toggle="modal" data-target="#modal" data-customer-id="1">Ask<span class="mobile-hide"> Jeremy</span> to meet</a>
                </div>
            </div>

        </div>
        <div class="buddies-list-card">
            <div class="row">
                <div class="col-md-10">
                    <div class="media">
                        <img src="assets/img/customers/documenter/person.jpg" class="mr-3 person" alt="Person">
                        <div class="media-body">
                            <h5 class="mt-0 mb-0 primary-head">Anny Hammerschmidt</h5>
                            <h6 class="subhead text-muted"><span class="primary-color">COO</span> at <strong class="text-dark">Documenter</strong><span class="small">, (London, UK)</span></h6>
                            <p class="pt-1 pb-2">We're on always on the run and still need to keep our customers happy, so it was always a challenge to have a robust mobile and bad internet/little time experience. E-Sign helped us to keep up with our SMB customers demands</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 about-company text-center mobile-hide">
                    <img src="assets/img/customers/documenter/logo.png" class="company-logo" alt="logo" />
                    <p class="pb-0 mb-0 font-weight-bold">E-Sign service</p>
                    <p><a href="http://www.documenter.io">www.documenter.io</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>Uses the tool for Customer Sucess management done the support and founders team</p>
                </div>
                <div class="col-md-3">
                    <p>Have decided to go with the solution due to rapid customer number growth</p>
                </div>
                <div class="col-md-3">
                    <p>Automated email and social marketing through</p>
                </div>
                <div class="col-md-3">
                    <p>Has tried 2 other systems before</p>
                </div>
            </div>
            <div class="row card-cta">
                <div class="col">
                    <a href="#" class="btn btn-contact a-6" data-toggle="modal" data-target="#modal" data-customer-id="2">Ask<span class="mobile-hide"> Anny</span> to meet</a>
                </div>
            </div>
        </div>
        <div class="buddies-list-card">
            <div class="row">
                <div class="col-md-10">
                    <div class="media">
                        <img src="assets/img/customers/cleaning_masters/person.jpeg" class="mr-3 person" alt="Person">
                        <div class="media-body">
                            <h5 class="mt-0 mb-0 primary-head">Roby Porch</h5>
                            <h6 class="subhead text-muted"><span class="primary-color">Head of EU Sales</span> at <strong class="text-dark">Cleaning Masters</strong><span class="small">, (International)</span></h6>
                            <p class="pt-1 pb-2">The hugest problem with CRM system for us was the ability to get it localized for folks around 7 countries we're located and having customized prices in local currencies with all country and state taxes included. RocketCRM provided us with those capabilities, so we've moved to their solution</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 about-company text-center mobile-hide">
                    <img src="assets/img/customers/cleaning_masters/logo.png" class="company-logo" alt="logo" />
                    <p class="pb-0 mb-0 font-weight-bold">Home and Office Cleaning services</p>
                    <p><a href="https://cleaningmasters.com/">www.cleaningmasters.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>Uses the system for their internal 40+ salespeople team across 15+ European cities</p>
                </div>
                <div class="col-md-3">
                    <p>Decided to move to the system in order to get all teams across different cities to the same process to ensure stable growth in the European region</p>
                </div>
                <div class="col-md-3">
                    <p>Have been using their self-developed system before</p>
                </div>
                <div class="col-md-3">
                    <p>Have been able to identify the weak spots in our proposition and have already changed it to a more effective one</p>
                </div>
            </div>
            <div class="row card-cta">
                <div class="col">
                    <a href="#" class="btn btn-contact a-6" data-toggle="modal" data-target="#modal" data-customer-id="3">Ask<span class="mobile-hide"> Roby</span> to meet</a>
                </div>
            </div>
        </div>
        <div class="buddies-list-card">
            <div class="row">
                <div class="col-md-10">
                    <div class="media">
                        <img src="assets/img/customers/numberonelab/person.jpeg" class="mr-3 person" alt="Person">
                        <div class="media-body">
                            <h5 class="mt-0 mb-0 primary-head">Tomash Levandovsky</h5>
                            <h6 class="subhead text-muted"><span class="primary-color">CEO</span> at <strong class="text-dark">The Number One Lab</strong><span class="small">, (Warsaw, Poland)</span></h6>
                            <p class="pt-1 pb-2">Linking customer conversations to deliverables in our Jira and Github was always a challenge. With RocketCRM we've got this ability and happy to use this system on a daily basis</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 about-company text-center mobile-hide">
                    <img src="assets/img/customers/numberonelab/logo.png" class="company-logo" alt="logo" />
                    <p class="pb-0 mb-0 font-weight-bold">Mobile Apps studio</p>
                    <p><a href="http://www.theonelab.pl">www.theonelab.pl</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>Used by his 10+ folks project and sales management team to tack all communication and tasks for the prospects and existing customers</p>
                </div>
                <div class="col-md-3">
                    <p>Has been using Jira for project management and Google Spreadsheets for sales management before</p>
                </div>
                <div class="col-md-3">
                    <p>Decided to move to the system due to significant growth of customer base and moving to more long-term contracts</p>
                </div>
                <div class="col-md-3">
                    <p>First, we were lacking our Google Spreadsheet dashboards, but have been able to build even more sophisticated ones with the reporting module</p>
                </div>
            </div>
            <div class="row card-cta">
                <div class="col">
                    <a href="#" class="btn btn-contact a-6" data-toggle="modal" data-target="#modal" data-customer-id="4">Ask<span class="mobile-hide"> Tomash</span> to meet</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center pb-5 mt-2">
            <h4>Haven't found the person to get advice from?</h4>
            <h6>Let us know your case and will find you the fellows to talk with!</h6>
            <div class="card-cta mt-3 pt-3">
                <div class="col">
                    <a href="#" class="btn btn-request btn-contact a-6" data-toggle="modal" data-target="#modal" data-customer-id="99">Request reference</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="requestForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Request to meet!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Company name</label>
                                <input type="text" class="form-control" name="prospectCompany">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Company website</label>
                                <input type="url" class="form-control" name="website">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Fullname</label>
                                <input type="text" class="form-control" name="fullname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Position</label>
                                <input type="text" class="form-control" name="position">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label mb-0">Contacts</label>
                                <small class="form-text text-muted mb-2 mt-0">Any preferred contact way</small>
                                <textarea class="form-control" data-toggle="autosize" rows="2" name="contacts"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label mb-0">What do you want to know?</label>
                                <small class="form-text text-muted mb-2 mt-0">Please list the things you’d like to discuss and get feedback on the call</small>
                                <textarea class="form-control" data-toggle="autosize" rows="2" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" id="requestSubmition" class="btn btn-primary">Request Call</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="assets/js/jquery-3.4.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.4.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Scripts -->
<script src="assets/js/custom.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
